@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  background: var(--color-surface-base);
  min-height: 100vh;
}

* {
  font-family: var(--primitive-font-family-sans), sans-serif;
  font-size: var(--primitive-font-size-sm);
  line-height: var(--primitive-line-height-sm);
  font-weight: var(--primitive-font-weight-regular);
  color: var(--color-text-base);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}